<section id="home" class="about-us">
  <div class="container">
    <div class="about-us-content">
      <div class="row">
        <div class="col-sm-12">
          <div class="single-about-us">
            <div class="about-us-txt">
              <h2>
                Explore the Beauty of the Beautiful World 
              </h2>
              <div class="about-btn">
                <button class="about-view" (click)="exploreNow()">
                  explore now
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>