.detail-container {
  display: flex;
  gap: 40px;
  padding: 40px;
}

.detail-container img {
  width: 400px;
  border-radius: 10px;
}

.info h1 {
  margin-bottom: 15px;
}

.info button {
  margin-top: 20px;
  padding: 10px 20px;
  cursor: pointer;
}
