<header class="sticky top-0 z-50 bg-white shadow-md">
  <nav class="container mx-auto px-6 py-4">
    <div class="flex items-center justify-between">

      <div class="flex items-center cursor-pointer" routerLink="/">
        <i class="fas fa-plane-departure text-3xl text-purple-600 mr-3"></i>
        <span class="text-2xl font-bold text-purple-600">TravelExplore</span>
      </div>

      <div class="hidden md:flex space-x-8">
        <a routerLink="/" routerLinkActive="text-purple-600" [routerLinkActiveOptions]="{exact: true}"
          class="text-gray-700 hover:text-purple-600 transition font-medium">Accueil</a>
        <a routerLink="/destinations" routerLinkActive="text-purple-600"
          class="text-gray-700 hover:text-purple-600 transition font-medium">Destinations</a>
        <a routerLink="/packages" routerLinkActive="text-purple-600"
          class="text-gray-700 hover:text-purple-600 transition font-medium">Packages</a>
        <a routerLink="/about" routerLinkActive="text-purple-600"
          class="text-gray-700 hover:text-purple-600 transition font-medium">À Propos</a>
        <a routerLink="/contact" routerLinkActive="text-purple-600"
          class="text-gray-700 hover:text-purple-600 transition font-medium">Contact</a>
      </div>
      <div class="flex items-center space-x-4">
        <!-- @if (authService.isAdmin()) {
        <button routerLink="/admin" class="btn-admin-special">
          🛠 Dashboard
        </button>
        } -->
      </div>

      <div class="flex items-center space-x-4">

        @if (auth.currentUser()) {
        <app-user-menu></app-user-menu>
        }
        @else {
        <div class="hidden sm:flex items-center space-x-2">
          <a routerLink="/login" class="px-4 py-2 text-gray-700 hover:text-purple-600 transition font-medium">
            Connexion
          </a>
        </div>
        }
        @if (auth.isAdmin()) {
      <button routerLink="/admin" class="btn-admin-special">
        🛠 Dashboard
      </button>
      }

      </div>
    </div>
  </nav>
</header>