<div class="container-fluid min-vh-100 d-flex align-items-center justify-content-center bg-light">
    <div class="row w-100 justify-content-center">
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card shadow-sm">
                <div class="card-body p-5">
                    <h2 class="text-center mb-4 fw-bold">Connexion</h2>

                    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                        <div class="mb-3">
                            <label class="form-label">Email</label>

                            <input type="email" class="form-control" formControlName="email"
                                [class.is-invalid]="email?.invalid && email?.touched">

                            <div class="invalid-feedback" *ngIf="email?.invalid && email?.touched">

                                <div *ngIf="email?.errors?.['required']">
                                    Email obligatoire
                                </div>

                                <div *ngIf="email?.errors?.['email']">
                                    Format email invalide
                                </div>

                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Mot de passe</label>
                            <input type="password" class="form-control" formControlName="password"
                                [class.is-invalid]="password?.invalid && password?.touched">

                            <div class="invalid-feedback" *ngIf="password?.invalid && password?.touched">

                                <div *ngIf="password?.errors?.['required']">
                                    Mot de passe obligatoire
                                </div>
                            </div>
                        </div>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary btn-lg">
                                Se connecter
                            </button>
                        </div>
                    </form>

                    <div class="text-center mt-4">
                        <p class="text-muted mb-2">
                            <a href="#" class="text-decoration-none">Mot de passe oublié ?</a>
                        </p>
                        <p class="text-muted">
                            Vous n'avez pas de compte ?
                            <a routerLink="/signup" class="text-decoration-none fw-bold">S'inscrire</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>